<a href="https://colab.research.google.com/github/mraoni/bootcamp-unimed-ciencia-dados/blob/main/AdventureWorks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Adicionando bibliotecas e configurações

In [2]:
import pandas as pd
import matplotlib as pl
pl.style.use("ggplot")

## Upload dos arquivos

In [3]:
from google.colab import files
arq = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks.xlsx

## Análise fisica/estrutura do dados

In [25]:
#Criando dataframe
df = pd.read_excel("AdventureWorks.xlsx")

In [26]:
#verificando uma amostragem dos dados
df.sample(10)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor
677,2009-01-18,2009-01-29,199,384,18907,200901183CS815,348.58,758.00,5,189.500,3600.500,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
518,2009-03-31,2009-04-11,199,1226,18927,200903314CS836,330.99,999.00,10,499.500,9490.500,Fabrikam Trendsetter 1/3'' 8.5mm X200 Black,"Fabrikam, Inc.",Fabrikam,Regular,Black
401,2009-11-10,2009-11-18,199,1178,19014,200911104CS929,330.66,998.00,20,3992.000,15968.000,Fabrikam Trendsetter 1/3'' 8.5mm X200 White,"Fabrikam, Inc.",Fabrikam,Regular,White
423,2009-12-15,2009-12-27,306,366,19078,200912153CS780,348.58,758.00,9,1364.400,5457.600,Adventure Works Laptop15.4W M1548 Black,Adventure Works,Adventure Works,Regular,Black
297,2009-10-13,2009-10-20,199,2497,19003,200910135CS918,5.09,9.99,240,0.000,2397.600,Headphone Adapter for Contoso Phone E130 White,"Contoso, Ltd",Contoso,Economy,White
718,2009-06-11,2009-06-21,307,2496,19126,200906115CS716,5.09,9.99,864,863.136,7768.224,Headphone Adapter for Contoso Phone E130 Silver,"Contoso, Ltd",Contoso,Economy,Silver
335,2009-01-17,2009-01-24,307,384,19113,200901173CS680,348.58,758.00,9,1023.300,5798.700,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
694,2008-11-21,2008-12-04,307,2496,19109,200811215CS655,5.09,9.99,312,467.532,2649.348,Headphone Adapter for Contoso Phone E130 Silver,"Contoso, Ltd",Contoso,Economy,Silver
496,2008-12-29,2009-01-03,199,1155,18901,200812294CS809,324.69,980.00,25,4900.000,19600.000,Fabrikam Trendsetter 2/3'' 17mm X100 Black,"Fabrikam, Inc.",Fabrikam,Regular,Black
185,2008-09-25,2008-10-05,307,1226,19106,200809254CS637,330.99,999.00,12,0.000,11988.000,Fabrikam Trendsetter 1/3'' 8.5mm X200 Black,"Fabrikam, Inc.",Fabrikam,Regular,Black

In [7]:
#identificando os tipos de dados no dataframe
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [6]:
#dimensoes dos dados
df.shape

(904, 16)

In [7]:
#analisando as metricas dos dados 
df.describe()

,ID Loja,ID Produto,ID Cliente,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda
count,904.000000,904.000000,904.000000,904.000000,904.000000,904.000000,904.000000,904.000000
mean,270.015487,1225.238938,19029.092920,272.006150,742.527965,62.950221,689.123294,6620.139538
std,50.955280,706.698742,96.427655,129.765051,368.589889,148.945964,822.363117,4319.407257
min,199.000000,366.000000,18815.000000,5.090000,9.990000,2.000000,0.000000,159.840000
25%,199.000000,384.000000,18964.750000,324.690000,758.000000,6.000000,0.000000,3920.000000
50%,306.000000,1202.000000,19060.000000,330.660000,980.000000,9.000000,461.166000,5798.700000
75%,307.000000,1226.000000,19107.000000,348.580000,998.000000,17.000000,1005.075000,7986.000000
max,307.000000,2497.000000,19145.000000,348.580000,999.000000,1560.000000,6272.000000,29400.000000

In [27]:
#verificando valores nulos
pd.isnull(df).sum()

Data Venda        0
Data Envio        0
ID Loja           0
ID Produto        0
ID Cliente        0
No. Venda         0
Custo Unitário    0
Preço Unitário    0
Quantidade        0
Valor Desconto    0
Valor Venda       0
Produto           0
Fabricante        0
Marca             0
Classe            0
Cor               0
dtype: int64

In [14]:
df["Produto"].value_counts()

Adventure Works Laptop15.4W M1548 Black            123
Fabrikam Trendsetter 2/3'' 17mm X100 Grey          118
Adventure Works Laptop15.4W M1548 Red              115
Fabrikam Trendsetter 2/3'' 17mm X100 Black         103
Fabrikam Trendsetter 1/3'' 8.5mm X200 Grey          94
Fabrikam Trendsetter 1/3'' 8.5mm X200 White         90
Fabrikam Trendsetter 1/3'' 8.5mm X200 Black         89
Headphone Adapter for Contoso Phone E130 Silver     87
Headphone Adapter for Contoso Phone E130 White      85
Name: Produto, dtype: int64

In [15]:
df["Marca"].value_counts()

Fabrikam           494
Adventure Works    238
Contoso            172
Name: Marca, dtype: int64

In [16]:
df["Cor"].value_counts()

Black     315
Grey      212
White     175
Red       115
Silver     87
Name: Cor, dtype: int64

In [17]:
df["Fabricante"].value_counts()

Fabrikam, Inc.     494
Adventure Works    238
Contoso, Ltd       172
Name: Fabricante, dtype: int64

#Transformação dos dados

In [28]:
# passar colunas para strings
df["ID Loja"] = df["ID Loja"].astype("str")
df["ID Produto"] = df["ID Produto"].astype("str")
df["ID Cliente"] = df["ID Cliente"].astype("str")

In [29]:
# validando a estrutura
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                   object
ID Produto                object
ID Cliente                object
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [31]:
# criar coluna adicionais para análise

df["Ano Venda"] = df["Data Venda"].dt.year 
df["Mes Venda"] = df["Data Venda"].dt.month
df["Dia Venda"] = df["Data Venda"].dt.day
df["Ano Envio"] = df["Data Envio"].dt.year 
df["Mes Envio"] = df["Data Envio"].dt.month
df["Dia Envio"] = df["Data Envio"].dt.day

df["Valor Receita"] = (df["Valor Venda"] - df["Valor Desconto"])
df["Valor Custo"] = (df["Custo Unitário"] * df["Quantidade"])
df["Valor Lucro"] = (df["Valor Venda"] - (df["Valor Desconto"] + df["Valor Custo"]))

In [32]:
df.sample(10)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,...,Cor,Ano Venda,Mes Venda,Dia Venda,Ano Envio,Mes Envio,Dia Envio,Valor Receita,Valor Custo,Valor Lucro
528,2009-10-22,2009-10-31,306,1155,19075,200910224CS765,324.69,980.00,4,784.000,...,Black,2009,10,22,2009,10,31,2352.000,1298.76,1053.240
676,2008-08-16,2008-08-25,306,384,19055,200808163CS608,348.58,758.00,5,379.000,...,Red,2008,8,16,2008,8,25,3032.000,1742.90,1289.100
450,2009-11-05,2009-11-18,307,1155,19139,200911054CS729,324.69,980.00,16,2352.000,...,Black,2009,11,5,2009,11,18,10976.000,5195.04,5780.960
261,2008-10-30,2008-11-10,307,2496,19107,200810305CS646,5.09,9.99,120,0.000,...,Silver,2008,10,30,2008,11,10,1198.800,610.80,588.000
549,2008-12-14,2008-12-18,306,1226,19060,200812144CS676,330.99,999.00,4,799.200,...,Black,2008,12,14,2008,12,18,2397.600,1323.96,1073.640
791,2009-03-03,2009-03-14,307,2497,19117,200903035CS706,5.09,9.99,432,863.136,...,White,2009,3,3,2009,3,14,2589.408,2198.88,390.528
494,2008-09-27,2008-10-05,199,1226,18874,200809274CS695,330.99,999.00,26,2597.400,...,Black,2008,9,27,2008,10,5,20779.200,8605.74,12173.460
862,2008-02-28,2008-03-06,199,366,18823,200802283CS578,348.58,758.00,6,227.400,...,Black,2008,2,28,2008,3,6,4093.200,2091.48,2001.720
467,2009-11-07,2009-11-13,199,1226,19012,200911074CS927,330.99,999.00,15,2997.000,...,Black,2009,11,7,2009,11,13,8991.000,4964.85,4026.150
38,2009-06-05,2009-06-17,306,1178,19068,200906054CS748,330.66,998.00,6,0.000,...,White,2009,6,5,2009,6,17,5988.000,1983.96,4004.040

# Análise exploratória do dados/negócio

In [34]:
# Total de Receita 
round(df['Valor Receita'].sum(),2)

5361638.69

In [36]:
# receita por ano de venda
df.groupby("Ano Venda")["Valor Receita"].sum()

Ano Venda
2008    2.895174e+06
2009    2.466465e+06
Name: Valor Receita, dtype: float64

In [37]:
# Total de custos
df["Valor Custo"].sum()

2486783.05

In [40]:
# custos por ano de venda
df.groupby("Ano Venda")["Valor Custo"].sum()

#OBS. O valor do custo diminuiu no decorrer do período.

Ano Venda
2008    1267529.94
2009    1219253.11
Name: Valor Custo, dtype: float64

In [39]:
# Total de lucro
round(df["Valor Lucro"].sum(),2)

2874855.64

In [41]:
# lucro por ano venda
df.groupby("Ano Venda")["Valor Lucro"].sum()

#OBS. O valor do lucro diminuiu no decorrer do período.

Ano Venda
2008    1.627644e+06
2009    1.247212e+06
Name: Valor Lucro, dtype: float64

In [44]:
# Se o lucro e custo diminuiram as vendas devem ter caido no período

# total de vendas por ano
df.groupby("Ano Venda")["Valor Venda"].sum()

Ano Venda
2008    3.187608e+06
2009    2.796998e+06
Name: Valor Venda, dtype: float64

## Agora que temos a receita e custo e o total, podemos achar o Lucro total
## Vamos criar uma coluna de Lucro que será Receita - Custo

#Criando uma coluna com total de dias para enviar o produto

#Criando uma coluna com total de dias para enviar o produto

#Extraindo apenas os dias

#Verificando o tipo da coluna Tempo_envio

#Média do tempo de envio por Marca

#Verificando se temos dados faltantes

**E, se a gente quiser saber o Lucro por Ano e Por Marca?**

#Resetando o index

#Qual o total de produtos vendidos?

#Gráfico Total de produtos vendidos

#Selecionando apenas as vendas de 2009

# Lucro x Marca

#Gráfico de Boxplot

#Histograma

#Tempo mínimo de envio

#Tempo máximo de envio

#Identificando o Outlier